{% extends "layout.html" %}

{% block content %}
<h3>About Us</h3>
<hr>
<p>This web site about my data science projects. I'm 23 years old and now I'm working as freelancer data scientist. Also I'm learning back-end programming with Python.
    I selected Flask of Python framework because I've experience in Python. So this is my first back-end web site and first project on Flask. Hopefully I'll complete this project because 
    I need to this.
</p>
<p>
    I like to help other people due to I have many social software web site. For example Git-Hub, this is amazing web site for developer. Almost everything has been on Git-Hub.
     Also Stack Overflow is excellent developer site. I dropped my software web site the below. If you want to interesting something you will check my web sites!!
</p>
<hr>
<ul>
    <li>
    <a class="nav-link" href="https://stackoverflow.com/users/16419719/ya%c4%9f%c4%b1z">Stack Overflow</a>
    </li>
    <li>
      <a class="nav-link" href="https://github.com/Yaman-yagiz">Git-Hub</a>
    </li>
    <li>
        <a class="nav-link" href="https://www.linkedin.com/in/ya%C4%9F%C4%B1z-yaman-6716a0187/">LinkedIn</a>
    </li>
</ul>
<hr>
{% endblock %}